body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ecc2ff; /* Color de fondo de la página */
}

.container {
    text-align: center;
}

.image {
    max-width: 100%;
    height: auto;
}

.buttons {
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s; /* Transición suave para el tamaño */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
}

#leftButton {
    background-color: #28a745; /* Color de fondo verde para el botón izquierdo */
}

#rightButton {
    background-color: #dc3545; /* Color de fondo rojo para el botón derecho */
}

.button:hover {
    opacity: 0.8; /* Efecto de opacidad al pasar el mouse */
}
/* Estilos para la superposición */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con opacidad */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
}

.overlay-content {
    text-align: center;
}

.overlay-image {
    max-width: 80%;
    height: auto;
}

.overlay-message {
    font-size: 24px;
    margin: 20px 0;
}
